@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    background-color: #000000;
    color: #ffffff;
}

html.light {
    background-color: #ffffff;
    color: #000000;
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #000000;
    color: #ffffff;
}

html.dark a {
    text-decoration: underline;
    text-decoration-color: #374151;
}

html.light a {
    text-decoration: underline;
    text-decoration-color: #D1D5DB;
}